.media-links {
  display: flex;
  gap: 27px;
}

.link {
  padding: 10px;
  background: var(--background-second-color);
  align-items: center;
  justify-content: center;
  display: flex;
}

.link path {
  fill: var(--button-icon-media);
}

.dark-link {
  background: var(--background-second-color);
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.dark-mode path {
  fill: white;
}
