.media-links {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
}

.link {
  padding: 10px;
  background: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.dark-link {
  background: var(--background-second-color);
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.dark-mode path {
  fill: white;
}

@media (min-width: 767px) {
  .media-links {
    flex-wrap: nowrap;
  }
}
