.clients-feedback {
  padding: 50px 40px;
  background: var(--background-colorful-component);
}

.active-button {
  width: 49px;
  background: red;
}

.feedback-container {
  min-width: 180px;
  margin-bottom: 47px;
  margin-left: 20px;
  padding: 26px 35px;
  background-color: var(--orange-permanent);
}

.client {
  position: relative;
  flex: initial;
}

.feedback-img {
  position: absolute;
  top: 20px;
  left: -5px;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.clients-feedback-text-part {
  margin-bottom: 60px;
  text-align: center;
}

.clients-feedback-text-part-subtitle {
  margin-bottom: 18px;
}

.clients-feedback-scroll-part-mobile {
  display: flex;
  gap: 18px;
  padding-left: 15px;
  overflow-x: auto;
}

.clients-feedback-scroll-part {
  display: none;
  justify-content: center;
  margin-bottom: 60px;
}

.pagination {
  display: none;
}

.clients-feedback-text-name {
  margin-bottom: 8px;
}

.clients-feedback-text-positon {
  margin-bottom: 12px;
}

.clients-feedback-text-name,
.clients-feedback-text-positon,
.clients-feedback-text {
  color: #fff;
}

.active-pagination-dot {
  width: 49px;
  background: #373737;
  border-radius: 10px;
}

.pagination-dot {
  all: unset;
  width: 15px;
  height: 15px;
  background: var(--paragraph);
  border-radius: 10px;
}

@media (min-width: 767px) {
  .feedback-container {
    max-width: 250px;
    margin-bottom: 47px;
    margin-left: 20px;
    padding: 26px 35px;
    background-color: var(--orange-permanent);
  }

  .clients-feedback-scroll-part-mobile {
    display: none;
    padding-left: 15px;
  }

  .pagination {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  .clients-feedback-scroll-part {
    display: flex;
    flex: initial;
    gap: 54px;
    justify-content: center;
  }

  .feedback-img {
    width: 50px;
    height: 50px;
  }

  .client {
    max-height: 177px;
  }
}

@media (min-width: 1440px) {
  .clients-feedback-text-part-subtitle {
    padding-top: 120px;
  }

  .clients-feedback-scroll-part {
    gap: 150px;
  }

  .feedback-container {
    max-width: 400px;
  }
}
