.clients-feedback {
  margin-bottom: 120px;
}

.feedback-container {
  padding: 26px 35px;
  margin-left: 20px;
  margin-bottom: 47px;
  background-color: var(--orange);
  width: 180px;
}

.clients-feedback-text-part {
  margin-bottom: 60px;
  text-align: center;
}

.clients-feedback-text-part-subtitle {
  margin-bottom: 18px;
}

.feedback-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 35px;
}

.feedback-container-text-part {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.clients-feedback-text,
.clients-feedback-text-name {
  color: #ffff;
}

.clients-feedback-text-positon {
  color: #ffff;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 123.6%;
}

.clients-feedback-scroll-part {
  padding-left: 16px;
}

@media (min-width: 767px) {
  .clients-feedback-scroll-part {
    padding-left: 40px;
  }

  .feedback-img {
    width: 50px;
    height: 50px;
  }

  .clients-feedback-text-name {
    font-size: 20px;
  }

  .feedback-container {
    width: 300px;
    height: 214px;
  }

  .clients-feedback-text-positon {
    margin-bottom: 40px;
    font-size: 16px;
  }
}
