.button {
  all: unset;
  cursor: pointer;
  font-family: Work Sans;
  font-size: 20px;
  line-height: 123.6%;
}

.button-primary {
  color: white;
  padding: 12px 20px;
  background: #ff5300;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
