.main-hero {
  margin-bottom: 50px;
  padding: 50px 20px 0;
  text-align: center;
  background-color: var(--orange-background);
}

.hero-img {
  margin: 0 auto;
}

.main-hero-text-part {
  margin-top: 50px;
  padding-bottom: 25px;
}

.main-hero-text-part-title {
  margin-bottom: 18px;
}

.main-hero-text-part-subtitle {
  margin-bottom: 25px;
}
