.subtitle {
  margin-bottom: 8px;
  color: var(--pre-title-of-blog);
  text-align: center;
}

.our-services {
  padding: 50px 40px 120px 40px;
  background: var(--background-color-white);
}

.service-top-part {
  display: flex;
  justify-content: space-between;
}

.img {
  margin-bottom: 15px;
}

.service-title {
  margin-bottom: 5px;
}

.service-subtitle {
  margin-bottom: 15px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service {
  padding: 31px 25px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  background: var(--background-colorful-component-containers);
}

.number {
  color: #efefef;
  font-size: 50px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 767px) {
  .services {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .service {
    min-width: 370px;
  }
}
