.contact-us-form {
  margin-bottom: 50px;
}

.text-part {
  margin-bottom: 18px;
  text-align: center;
}

.form-part {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.img {
  margin: 0 auto;
  margin-bottom: 50px;
}

.input {
  all: unset;
  height: 60px;
  outline: none;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.input[type='text'] {
  padding-left: 18px;
  font: 'Work Sans';
}

.input[type='text-area'] {
  padding-top: 18px;
  padding-left: 18px;
}

.input::placeholder {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Work Sans';
  line-height: 150.6%;
}

.input-select {
  display: flex;
  align-items: center;
  padding-left: 18px;
  color: #7b7b7b;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Work Sans';
  line-height: 150.6%;
}

.text-area::placeholder {
  padding-top: 18px;
  padding-left: 18px;
}

.input-top-part,
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 893px) {
  .error-container {
    height: 35px;
    flex: initial;
  }

  .error-text {
    color: rgb(249 82 82);
  }

  .img {
    min-width: 414px;
    margin: 0;
  }

  .contact-us-form {
    display: flex;
    justify-content: center;
  }

  .input-top-part {
    display: flex;
    flex-direction: initial;
  }

  .input-select,
  .input {
    box-sizing: border-box;
  }
}

@media (min-width: 1440px) {
  .contact-us-form {
    gap: 35px;
  }

  .form-part {
    max-width: 670px;
  }
}
