.main-header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.digiency-main-logo{
    width: 102px;
    height: 31px;
}

.theme-icon{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

