.our-blog-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 108px 40px 50px;
  background: var(--background-colorful-component);
  box-shadow: inset 0 3px 12px 0 rgb(0 0 0 / 10%);
}

@media (min-width: 767px) {
  .our-blog-hero {
    padding: 108px 40px 60px;
  }
}

@media (min-width: 1440px) {
  .our-blog-hero {
    padding: 108px 40px 120px;
  }
}
