.contact-us {
  padding: 50px 40px;
  background: var(--background-color-white);
}

.contact-us-text-part {
  margin-bottom: 18px;
  text-align: center;
}

.grades-array {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.contact-us-text-part-subtitle {
  margin-bottom: 18px;
}

.contact-us-contact-ways {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 70px;
}

.contact-us-contact-way-container {
  background: var(--background-second-color);
  height: 224px;
  padding: 18px 0 0 18px;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.grades-array-img {
  width: 67px;
  height: 53px;
}

.contact-us-contact-way-top-part {
  display: flex;
  margin-bottom: 34px;
}

.contact-us-contact-way-span {
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
}

.contact-us-contact-way-title {
  font-weight: 600;
  font-size: 31.25px;
}

.contact-us-contact-way-bottom-part-text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
}

@media (min-width: 767px) {
  .contact-us-contact-ways {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .grades-array-img {
    width: 104px;
    height: 109px;
  }

  .grades-array {
    gap: 120px;
  }

  .contact-us-contact-way-img {
    max-width: 100px;
  }

  .contact-us-contact-way-span {
    font-size: 20px;
  }

  .contact-us-contact-way-container {
    min-width: 220px;
    padding-right: 10px;
  }
}

@media (min-width: 1440px) {
  .grades-array {
    gap: 120px;
  }

  .grades-array-img {
    width: initial;
    height: initial;
  }
}
