.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.digiency-main-logo {
  width: 102px;
  height: 31px;
}

.theme-icon {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.main-hero-text-part {
  text-align: center;
}

.item-text:hover {
  color: var(--orange);
  transition: 0.15s;
}

.navigation {
  display: none;
}

@media (min-width: 767px) {
  .header {
    height: 80px;
  }

  .navigation {
    display: block;
  }

  .theme-icon {
    position: relative;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
  }

  .list {
    gap: 25px;
    display: flex;
    list-style-type: none;
  }

  .burger-menu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 0 135px;
  }

  .digiency-main-logo {
    width: 162px;
    height: 48px;
  }
}
