.header {
  background: var(--background-second-color);
}

.button {
  all: unset;
  position: absolute;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
  border-radius: 5px;
  background: var(--background-second-color);
}

.visible-navigation-mobile {
  transform-origin: top;
  pointer-events: none;
  transition: 0.5s;
  transform: rotate3d(1, 0, 0, 90deg);
}

.animated-navigation-mobile {
  animation: 0.5s ease-in-out;
  transform-origin: top;
}

.item-text-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
}

.navigation-mobile {
  transition: 0.5s;
  position: absolute;
  top: 45px;
  right: 0;
  width: 100%;
  list-style-type: none;
}

@keyframes animated-burger {
  0% {
    transform: rotate3d(1, 0, 0, 90deg);
  }

  100% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
}

.header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 16px;
}

.in-view-burger {
  margin-left: 0;
  opacity: 1;
}

.out-view-burger {
  opacity: 0;
  margin-left: 20px;
}

.in-view-menu {
  margin-top: 0;

  opacity: 1;
}

.out-view-menu {
  opacity: 0;

  margin-top: 20px;
}

.button-text {
  margin: 0;
}

.burger-menu-button {
  all: unset;
  grid-column: 3;
}

.digiency-main-logo {
  width: 102px;
  height: 31px;
}

.theme-icon img {
  position: absolute;
  top: 13px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.main-hero-text-part {
  text-align: center;
}

.item-text:hover {
  color: var(--orange-permanent);
  transition: 0.15s;
}

.navigation {
  display: none;
}

.item-mobile {
  background-color: white;
}

@media (min-width: 767px) {
  .header {
    display: flex;
    height: 80px;
    padding: 0 40px;
  }

  .img {
    flex: 1;
  }

  .button {
    position: relative;
    width: 135px;
    height: 50px;
    margin: 0;
  }

  .navigation-mobile {
    display: none;
  }

  .burger-menu-button {
    display: none;
  }

  .navigation {
    display: block;
  }

  .theme-icon {
    flex: 0;
  }

  .theme-icon img {
    position: relative;
    top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }

  .list {
    display: flex;
    gap: 15px;
    align-items: center;
    list-style-type: none;
  }

  .burger-menu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .item-text-mobile,
  item-text {
    font-weight: 500;
  }

  .digiency-main-logo {
    width: 162px;
    height: 48px;
  }

  .list {
    gap: 25px;
  }

  .header {
    padding: 0 175px;
  }
}
