.subtitle {
  margin-bottom: 15px;
  color: #ff5300;
}

.our-capabilities {
  padding: 120px 40px;
  background: var(--background-color-white);
}

.bottom-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-radius: 20px;
}

.separator {
  width: 8px;
  height: 141px;
  margin: 0 auto;
  transform: rotate(90deg);
}

.bottom-part-element {
  margin: 0 auto;
  text-align: center;
}

.top-part {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.img {
  margin-bottom: 40px;
}

.text-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 18px;
}

.statistic-part {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.text {
  margin-bottom: 10px;
}

.statistic-percent {
  margin-bottom: 5px;
  color: var(--orange-permanent);
}

.element-count {
  color: #fff;
}

.element-title {
  margin: 0;
  color: #fff;
}

.statistic-item {
  min-width: 80px;
  padding: 10px 20px;
  text-align: center;
  background: var(-background-pinterest-component-containers);
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
}

.bottom-part-img {
  margin: 0 auto;
  margin-bottom: 5px;
}

.bottom-part {
  background: var(--orange-permanent);
}

@media (min-width: 767px) {
  .text {
    margin-bottom: 40px;
  }

  .text-part {
    max-width: 600px;
    margin: 0 auto;
  }

  .statistic-item {
    max-width: 125px;
    transform: 0;
  }

  .bottom-part-element {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 20px;
    border-radius: 20px;
  }

  .separator {
    transform: rotate(0);
  }

  .top-part {
    margin-bottom: 120px;
  }
}

@media (min-width: 1440px) {
  .top-part {
    flex-direction: row;
    gap: 20px;
  }

  .bottom-part {
    padding: 70px 60px;
  }

  .text-part {
    margin: 0;
  }
}
