.team-member {
  padding: 50px 40px;
  background: var(--background-color-white);
}

.team-member-text-part {
  margin-bottom: 18px;
  text-align: center;
}

.team-member-text-part-subtitle {
  margin-bottom: 18px;
  color: var(--paragraph);
}

@media (min-width: 767px) {
  .team-member-text-part {
    margin-bottom: 60px;
  }
}
