.our-experience {
  margin-bottom: 50px;
  padding: 50px 17px;
  background-color: var(--orange-background);
  gap: 24px;
}

.our-experience-text-part-subtitle {
  margin-bottom: 18px;
}

.our-experience-text-part-title {
  margin-bottom: 18px;
}

.our-experience-text-part-text {
  margin-bottom: 25px;
}

.our-experience-text-part {
  margin-bottom: 60px;
  text-align: center;
}

.our-experience-array-part {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.our-experience-array-item {
  padding: 71px 68px;
  text-align: center;
  background: white;
  box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
}

.our-experience-array-item-title {
  margin-bottom: 18px;
  font-size: 48px;
}

.our-experience-array-item-subtitle {
  font-size: 25px;
}

@media (min-width: 767px) {
  .our-experience {
    padding: 60px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .our-experience-text-part {
    max-width: 570px;
  }

  .our-experience-array-part {
    flex: 0;
    gap: 8px;
  }

  .our-experience-array-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 0 42px 0;
  }

  .our-experience-array-item:nth-child(odd) {
    position: relative;
    top: -30px;
  }

  .our-experience-array-item-title {
    font-size: 25px;
  }

  .our-experience-array-part {
    display: grid;
    grid-template-columns: repeat(2, 162px);
  }

  .our-experience-array-item-subtitle {
    font-size: 16px;
  }

  .our-experience-text-part {
    text-align: initial;
  }
}

@media (min-width: 1440px) {
  .our-experience-array-item-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
  }

  .our-experience-array-part {
    grid-template-columns: repeat(2, 250px);
  }

  .our-experience-array-item {
    padding: 58px 0 58px 0;
  }
}
