.our-work-navigation-list-item-button {
  all: unset;
}

.our-work-navigation {
  margin-bottom: 50px;
}

.our-work-navigation-list {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  list-style-type: none;
}
