.article-main {
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.main-img img {
  width: 100%;
}

.content-part {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.article-info {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.article-info-item {
  display: flex;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}

@media (min-width: 1000px) {
  .article-main {
    padding: 120px 40px;
    display: flex;
    flex-direction: row;
    align-items: initial;
  }

  .main-img img {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .article-main {
    max-width: 1200px;
  }
}
