.about-us {
  padding: 60px 40px 50px;
  background: var(--background-colorful-component);
}

.img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.subtitle {
  margin-bottom: 22px;
  color: var(--pre-title-of-blog);
}

.title {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  gap: 17px;
  margin-bottom: 15px;
}

@media (min-width: 767px) {
  .about-us {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 120px;
  }

  .img {
    max-width: 400px;
    max-height: 350px;
    margin: 0;
  }

  .text-part {
    max-width: 620px;
  }
}

@media (min-width: 1440px) {
  .img {
    width: 620px;
  }
}
