:root {
  --orange: #ff5300;
  --orange-background: #fff7f4;
  --black: #373737;
  --dark-background: #18191a;
  --dark-view1: #242526;
  --dark-view2: #3a3b3c;
  --gray-paragraph: #7b7b7b;
  --white: #fff;
}

@font-face {
  font-family: 'Work Sans';
  src: url(./assets/fonts/WorkSans-Regular.woff2);
}

h1 {
  color: var(--black);
  font-size: 31.25px;
  font-family: 'Work Sans';
  line-height: 38.62px;
}

h2 {
  color: var(--black);
  font-size: 25px;
  font-family: 'Work Sans';
}

h3 {
  color: var(--black);
  font-size: 20px;
  font-family: 'Work Sans';
}

p {
  color: var(--gray-paragraph);
  font-size: 16px;
  font-family: 'Work Sans';
  line-height: 24.1px;
}

span {
  color: var(--orange);
  font-family: 'Work Sans';
}

.swiper-pagination-bullet-active {
  background: var(--orange);
}
