:root {
  --paragraph: #7b7b7b;
  --pre-title-of-blog: #ff5300;
  --title-of-block: #373737;
  --background-colorful-component: #fff7f4;
  --background-second-color: #fff;
  --background-color-white: #fff;
  --orange-permanent: #ff5300;
  --white-permanent: #fff;
  --paragraph-permanent: #7b7b7b;
  --black-to-white: #000;
  --background-colorful-component-containers: #fff;
  --footer-gray: #373737;
  --our-blog-tags-only: #fff7f4;
}
