@media (prefers-color-scheme: light) {
  :root {
    --paragraph: #7b7b7b;
    --pre-title-of-blog: #ff5300;
    --title-of-block: #373737;
    --background-colorful-component: #fff7f4;
    --background-second-color: #fff;
    --background-color-white: #fff;
    --orange-permanent: #ff5300;
    --white-permanent: #fff;
    --paragraph-permanent: #7b7b7b;
    --black-to-white: #000;
    --background-colorful-component-containers: #fff;
    --footer-gray: #373737;
    --our-blog-tags-only: #fff7f4;
    --button-icon-media: #ff5300;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --paragraph: #fff;
    --pre-title-of-blog: #ff5300;
    --title-of-block: #fff;
    --background-colorful-component: #242526;
    --background-second-color: #3a3b3c;
    --background-color-white: #18191a;
    --orange-permanent: #ff5300;
    --white-permanent: #fff;
    --paragraph-permanent: #7b7b7b;
    --black-to-white: #fff;
    --background-colorful-component-containers: #242526;
    --footer-gray: #373737;
    --our-blog-tags-only: #373737;
    --button-icon-media: #fff;
  }
}

.light-mode {
  --paragraph: #7b7b7b;
  --pre-title-of-blog: #ff5300;
  --title-of-block: #373737;
  --background-colorful-component: #fff7f4;
  --background-second-color: #fff;
  --background-color-white: #fff;
  --orange-permanent: #ff5300;
  --white-permanent: #fff;
  --paragraph-permanent: #7b7b7b;
  --black-to-white: #000;
  --background-colorful-component-containers: #fff;
  --footer-gray: #373737;
  --our-blog-tags-only: #fff7f4;
  --button-icon-media: #ff5300;
}

.dark-mode {
  --paragraph: #fff;
  --pre-title-of-blog: #ff5300;
  --title-of-block: #fff;
  --background-colorful-component: #242526;
  --background-second-color: #3a3b3c;
  --background-color-white: #18191a;
  --orange-permanent: #ff5300;
  --white-permanent: #fff;
  --paragraph-permanent: #7b7b7b;
  --black-to-white: #fff;
  --background-colorful-component-containers: #242526;
  --footer-gray: #373737;
  --our-blog-tags-only: #373737;
  --button-icon-media: #fff;
}
