.our-work {
  margin-bottom: 50px;
}

.our-work-text-part {
  text-align: center;
}

.our-work-text-part-title {
  margin-bottom: 25px;
}

.our-work-text-part-subtitle {
  margin-bottom: 18px;
}

.our-work-images-part {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

@media (min-width: 767px) {
  .our-work-images-part {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    justify-content: center;
  }

  .picture {
    width: 370px;
  }
}

@media (min-width: 1440px) {
  .our-work-images-part {
    grid-template-columns: repeat(3, 370px);
  }
}
